/*
Adam Cunningham
csc337 project 8
css sheet to be used with the index.html
file in the project "chatty"
divides the page into two main parts, with
the chat being much larger than the input
one which displays the chat log returned by the server
and one which allows users to send information to the server
*/

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#chat{
    position: absolute;
    top: 0;

    height: 70%;
    width: 100%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background: aquamarine;
}

#input{
    padding-left: 5%;
    position: absolute;
    bottom: 0;

    height: 30%;
    width: 100%;
    display: inline-block;

    background-color: black;
}

#alias, #message {
    display: inline-block;
    font-family: monospace;
    color: white;
}

#aliasInput, #messageInput{
    display: inline-block;
    color: black;
}